@import '@styles/colors.scss';

.container {
  h2 {
    text-align: center;
    font-size: 40px;
    color: $darkBlue;
  }

  label {
    padding-bottom: 12px;
    display: block;

    a {
      float: right;
    }
  }

  form > div {
    margin-bottom: 24px;
  }

  :global {
    .ant-btn.ant-btn-primary {
      width: 100%;
      height: 52px;
      margin-top: 8px;
      margin-bottom: 32px;
    }
  }
}

// .question {
//   font-size: 28px;
//   color: $darkGray;
//   margin-bottom: 8px;
// }

// .description {
//   text-align: center;
//   color: $silver;
// }