$white: #fff;
$whiteSmoke: #f5f5f5;
$black: #000;
$blackGray: #262626;
$deepBlue: #374774;
$darkBlue: #2B3F78;
$darkSlateBlue: #404258;
$silver: #939393;
$silverCloud: #F4F6F8;
$silverSmoke: #E6EBEF;
$gray: #6C6C6C;
$darkGray: #5A5A5D;
$deepDarkGray: #484C57;
$midGray: #7A92AA;
$lightGray: #80848D;
$lightGray2: #D4E0EB;
$lightGray3: #ECECEC;
$red: #CD3C3C;
$gold: #FFC928;
$darkGold: #FDB813;
$deepDarkGold: #F1AE01;
$font: #333333;